.row-m-t{
    margin-top: 30px;
    margin-bottom: 30px;
}

.spacing-bottom-30{
    margin-bottom: 30px;
}

.spacing-top-30{
    margin-top: 15px;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-text-middle {
    position: absolute;
    bottom: 45%;
    width: 100%;
    background-color: rgba(200, 193, 193, 0.6);
}

.specificServiceText{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.helpful{
    margin-top: 5px;
    margin-bottom: 0;
    color: darkgrey;
}

.xs-serviceHeader{
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
}

.img-text-middle p{
    font-size: 80px;
}

.overallReview{
    padding-bottom: 15px;
    border-bottom: solid lightgray 1px;
}

.bottom-imgText{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(200, 193, 193, 0.6);
}

.schemeHeader{
    color: darkgrey;
    margin-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid #cbcbcb;
}

.thead-custom{
    background-color: beige;
}

.box{width: 100%;padding: 15px;margin:0;position: relative;}
.box-default{
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    margin-bottom: 15px;
}

.box-default-noBorderSide{
    border-top: 1px solid #cbcbcb;
    margin-bottom: 15px;
}

.lead-onImg{
    font-size: 50px;
}

.services-img-link {
    text-decoration: none;
    color:white;
}

.services-img-link:hover {
    text-decoration: none;
    color: white;
}

.list-unstyled {
    margin-top: 15px;
}


small {
    margin-left: 8px;
}
.media-borderBottom{
    border-bottom: solid lightgray 1px;
    padding-bottom: 15px;
}
.yourreview{
    padding-top: 15px;
}

.btn-customDefault{
    background-color: #2aabd2;
    color: white;
}

.btn-customDefault2{
    background-color: #d2216a;
    color: white;
}

.btn-custom{
    background-color: #2aabd2;
    color: white;
    margin-bottom: 10px;
}


@media (max-width: 768px){
    .btn-custom{
        width: 100%;
        margin-bottom: 10px;
    }
}