/*----------Top-Header-Css----------*/

#topheader {
    background: linear-gradient(to right, rgb(15%, 15%, 15%), whitesmoke, rgb(15%, 15%, 15%));
    background-size: cover;
}
.topheaderimage {
    display: flex;
    justify-content: center;
}
.topheaderimage>img {
    margin: 5px 0;
}
.glyphicon-log-in {
    padding-right: 4px;
}
.pull-right>li>a {
    color: whitesmoke;
}
.pull-right>li>a:hover {
    color: black !important;
}
.login {
    margin-bottom: 5px;
}


/*----------Navbar-Css----------*/

.navbar-inverse {
    margin: 0;
    border-radius: 0;
    background-image: none;
    background-color: #3A3A3C;
}
.dropdown-menu {
    padding: 15px;
    padding-bottom: 10px;
}
.navbar-brand>a {
    color: #F3912C;
    display: inline;
    text-decoration: none;
}


/*----------Main-Content-Css----------*/

body {
    background-color: #CCCCCC;
}
[title~="xspic"] {
    margin: 8px 0;
}
.panel {
    border: 1px #3A3A3C solid;
    border-radius: 0;
}
#carouselid {
    margin: 10px 0;
}

.panel>.panel-heading {
    border-radius: 0;
    background-image: none;
    background-color: #3A3A3C;
    color: #CCCCCC;
}


/*----------Footer-Css----------*/

footer>.nav>.container-fluid>#footer>.row>.social {
    display: flex;
    justify-content: center;
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

footer>.nav>.container-fluid>#footer>.row>.social>li>a {
    padding: 0 0 5px 0;
    display: block;
    color: #78828D
}
.social>li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social>li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social>li>a {
    color: #EDEFF1;
}
.social>li:hover {
    border: 2px solid whitesmoke;
    background: white;
}
.social>li>a>i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #3A3A3C !important;
}


/*----------Other-Css----------*/

.loginglyphs {
    color: black;
}
.loginglyphsxs {
    color: whitesmoke;
}
.removepadding {
    padding: 0;
}

/* Align center carousel when website shows on large screen */
.carousel-inner img {
    margin: auto;
}